In [1]:
import pandas as pd

In [9]:
two_dimensional_list = [['세형', 90, 30], ['수민', 50, 100], ['준성', 80, 88]]

In [12]:
data = pd.DataFrame(two_dimensional_list, columns=['이름', '수학 성적', '국어 성적'], index=['a','b','c'])
data

   이름  수학 성적  국어 성적
a  세형     90     30
b  수민     50    100
c  준성     80     88

data type 을 살펴보면, pandas DataFrame이라고 나온다.

In [11]:
type(data)

pandas.core.frame.DataFrame

In [14]:
data.columns

Index(['이름', '수학 성적', '국어 성적'], dtype='object')

In [15]:
data.index

Index(['a', 'b', 'c'], dtype='object')

In [17]:
data.dtypes

이름       object
수학 성적     int64
국어 성적     int64
dtype: object

In [2]:
import pandas as pd

In [30]:
df_2016 = pd.read_csv(r'./Desktop/전남권.csv', encoding='cp949')
df_2016

    Unnamed: 0  2014  2015  2016  2017  2018  2019  2020  2021  2022  시군구코드
0            0  56.2  57.0  55.4  57.0  28.4   0.0   0.0   0.0   0.0  46110
1            1  69.9  68.8  66.0  66.4  32.8   0.0   0.0   0.0   0.0  46110
2            2  43.2  45.6  45.0  47.8  24.0   0.0   0.0   0.0   0.0  46110
3            3  65.6  65.7  64.9  66.1  33.6   0.0   0.0   0.0   0.0  46170
4            4  73.2  71.7  73.1  73.8  37.2   0.0   0.0   0.0   0.0  46170
5            5  58.2  60.0  57.0  58.8  30.0   0.0   0.0   0.0   0.0  46170
6            6  65.7  64.4  64.4  66.1  33.4   0.0   0.0   0.0   0.0  46710
7            7  73.8  71.4  72.1  74.8  37.2   0.0   0.0   0.0   0.0  46710
8            8  58.4  57.9  57.0  57.7  29.7   0.0   0.0   0.0   0.0  46710
9            9  68.7  68.0  65.6  67.8  34.1   0.0   0.0   0.0   0.0  46720
10          10  76.6  75.9  74.4  75.8  37.8   0.0   0.0   0.0   0.0  46720
11          11  61.6  61.0  57.6  60.5  30.8   0.0   0.0   0.0   0.0  46720
12          12  73.8  73.5  73.0  75.1  37.4   0.0   0.0   0.0   0.0  46780
13          13  78.0  80.0  80.4  82.1  40.3   0.0   0.0   0.0   0.0  46780
14          14  70.2  67.7  66.3  68.6  34.7   0.0   0.0   0.0   0.0  46780
15          15  61.5  61.8  61.8  63.0  31.6   0.0   0.0   0.0   0.0  46790
16          16  71.0  70.1  70.7  69.5  34.8   0.0   0.0   0.0   0.0  46790
17          17  53.1  54.4  53.8  57.0  28.8   0.0   0.0   0.0   0.0  46790
18          18  65.5  66.6  66.4  69.3  36.2   0.0   0.0   0.0   0.0  46800
19          19  75.5  74.8  73.7  76.1  39.4   0.0   0.0   0.0   0.0  46800
20          20  56.6  59.1  59.7  63.2  33.2   0.0   0.0   0.0   0.0  46800
21          21  69.1  69.5  68.5  69.1  35.0   0.0   0.0   0.0   0.0  46810
22          22  76.8  78.2  75.8  75.0  37.3   0.0   0.0   0.0   0.0  46810
23          23  62.4  61.7  61.9  63.8  33.0   0.0   0.0   0.0   0.0  46810
24          24  72.9  73.2  72.2  74.4  37.0   0.0   0.0   0.0   0.0  46820
25          25  81.8  80.5  79.9  82.2  40.4   0.0   0.0   0.0   0.0  46820
26          26  64.8  66.2  65.0  66.8  33.6   0.0   0.0   0.0   0.0  46820
27          27  66.4  66.9  63.2  65.6  34.6   0.0   0.0   0.0   0.0  46830
28          28  80.1  78.3  74.6  75.4  39.1   0.0   0.0   0.0   0.0  46830
29          29  51.1  53.6  50.6  54.4  29.5   0.0   0.0   0.0   0.0  46830
30          30  64.4  64.3  60.9  61.8  29.8   0.0   0.0   0.0   0.0  46840
31          31  73.1  73.6  67.7  67.8  33.4   0.0   0.0   0.0   0.0  46840
32          32  55.8  55.2  54.0  55.6  26.1   0.0   0.0   0.0   0.0  46840
33          33  68.6  68.3  67.4  67.8  34.9   0.0   0.0   0.0   0.0  46860
34          34  76.1  75.9  75.4  76.0  38.4   0.0   0.0   0.0   0.0  46860
35          35  61.8  61.2  59.8  60.0  31.4   0.0   0.0   0.0   0.0  46860
36          36  67.1  67.1  67.2  67.9  34.6   0.0   0.0   0.0   0.0  46870
37          37  75.8  75.8  77.1  77.2  38.4   0.0   0.0   0.0   0.0  46870
38          38  58.8  58.6  57.8  58.9  30.9   0.0   0.0   0.0   0.0  46870
39          39  65.5  66.4  64.4  67.4  34.0   0.0   0.0   0.0   0.0  46880
40          40  73.8  73.5  72.5  73.8  36.6   0.0   0.0   0.0   0.0  46880
41          41  58.1  59.9  56.9  61.3  31.4   0.0   0.0   0.0   0.0  46880
42          42  68.2  70.5  69.3  68.2  33.4   0.0   0.0   0.0   0.0  46890
43          43  76.4  79.0  77.8  76.0  37.7   0.0   0.0   0.0   0.0  46890
44          44  60.0  62.0  60.5  59.8  28.7   0.0   0.0   0.0   0.0  46890
45          45  72.9  72.1  69.8  70.5  36.8   0.0   0.0   0.0   0.0  46900
46          46  82.3  81.0  77.2  78.5  39.8   0.0   0.0   0.0   0.0  46900
47          47  64.3  63.5  62.4  62.3  33.7   0.0   0.0   0.0   0.0  46900
48          48  76.2  76.6  78.3  77.2  39.1   0.0   0.0   0.0   0.0  46910
49          49  83.4  84.2  85.9  84.7  43.0   0.0   0.0   0.0   0.0  46910
50          50  68.8  68.8  70.1  68.8  34.7   0.0   0.0   0.0   0.0  46910

## header 가 없는 경우

In [32]:
df_2016 = pd.read_csv(r'./Desktop/전남권.csv', header=None, encoding='cp949')

### header=None

## 0번 column 을 빼내주기

In [34]:
df_2016 = pd.read_csv(r'./Desktop/전남권.csv', index_col=0 ,encoding='cp949')
df_2016

    2014  2015  2016  2017  2018  2019  2020  2021  2022  시군구코드
0   56.2  57.0  55.4  57.0  28.4   0.0   0.0   0.0   0.0  46110
1   69.9  68.8  66.0  66.4  32.8   0.0   0.0   0.0   0.0  46110
2   43.2  45.6  45.0  47.8  24.0   0.0   0.0   0.0   0.0  46110
3   65.6  65.7  64.9  66.1  33.6   0.0   0.0   0.0   0.0  46170
4   73.2  71.7  73.1  73.8  37.2   0.0   0.0   0.0   0.0  46170
5   58.2  60.0  57.0  58.8  30.0   0.0   0.0   0.0   0.0  46170
6   65.7  64.4  64.4  66.1  33.4   0.0   0.0   0.0   0.0  46710
7   73.8  71.4  72.1  74.8  37.2   0.0   0.0   0.0   0.0  46710
8   58.4  57.9  57.0  57.7  29.7   0.0   0.0   0.0   0.0  46710
9   68.7  68.0  65.6  67.8  34.1   0.0   0.0   0.0   0.0  46720
10  76.6  75.9  74.4  75.8  37.8   0.0   0.0   0.0   0.0  46720
11  61.6  61.0  57.6  60.5  30.8   0.0   0.0   0.0   0.0  46720
12  73.8  73.5  73.0  75.1  37.4   0.0   0.0   0.0   0.0  46780
13  78.0  80.0  80.4  82.1  40.3   0.0   0.0   0.0   0.0  46780
14  70.2  67.7  66.3  68.6  34.7   0.0   0.0   0.0   0.0  46780
15  61.5  61.8  61.8  63.0  31.6   0.0   0.0   0.0   0.0  46790
16  71.0  70.1  70.7  69.5  34.8   0.0   0.0   0.0   0.0  46790
17  53.1  54.4  53.8  57.0  28.8   0.0   0.0   0.0   0.0  46790
18  65.5  66.6  66.4  69.3  36.2   0.0   0.0   0.0   0.0  46800
19  75.5  74.8  73.7  76.1  39.4   0.0   0.0   0.0   0.0  46800
20  56.6  59.1  59.7  63.2  33.2   0.0   0.0   0.0   0.0  46800
21  69.1  69.5  68.5  69.1  35.0   0.0   0.0   0.0   0.0  46810
22  76.8  78.2  75.8  75.0  37.3   0.0   0.0   0.0   0.0  46810
23  62.4  61.7  61.9  63.8  33.0   0.0   0.0   0.0   0.0  46810
24  72.9  73.2  72.2  74.4  37.0   0.0   0.0   0.0   0.0  46820
25  81.8  80.5  79.9  82.2  40.4   0.0   0.0   0.0   0.0  46820
26  64.8  66.2  65.0  66.8  33.6   0.0   0.0   0.0   0.0  46820
27  66.4  66.9  63.2  65.6  34.6   0.0   0.0   0.0   0.0  46830
28  80.1  78.3  74.6  75.4  39.1   0.0   0.0   0.0   0.0  46830
29  51.1  53.6  50.6  54.4  29.5   0.0   0.0   0.0   0.0  46830
30  64.4  64.3  60.9  61.8  29.8   0.0   0.0   0.0   0.0  46840
31  73.1  73.6  67.7  67.8  33.4   0.0   0.0   0.0   0.0  46840
32  55.8  55.2  54.0  55.6  26.1   0.0   0.0   0.0   0.0  46840
33  68.6  68.3  67.4  67.8  34.9   0.0   0.0   0.0   0.0  46860
34  76.1  75.9  75.4  76.0  38.4   0.0   0.0   0.0   0.0  46860
35  61.8  61.2  59.8  60.0  31.4   0.0   0.0   0.0   0.0  46860
36  67.1  67.1  67.2  67.9  34.6   0.0   0.0   0.0   0.0  46870
37  75.8  75.8  77.1  77.2  38.4   0.0   0.0   0.0   0.0  46870
38  58.8  58.6  57.8  58.9  30.9   0.0   0.0   0.0   0.0  46870
39  65.5  66.4  64.4  67.4  34.0   0.0   0.0   0.0   0.0  46880
40  73.8  73.5  72.5  73.8  36.6   0.0   0.0   0.0   0.0  46880
41  58.1  59.9  56.9  61.3  31.4   0.0   0.0   0.0   0.0  46880
42  68.2  70.5  69.3  68.2  33.4   0.0   0.0   0.0   0.0  46890
43  76.4  79.0  77.8  76.0  37.7   0.0   0.0   0.0   0.0  46890
44  60.0  62.0  60.5  59.8  28.7   0.0   0.0   0.0   0.0  46890
45  72.9  72.1  69.8  70.5  36.8   0.0   0.0   0.0   0.0  46900
46  82.3  81.0  77.2  78.5  39.8   0.0   0.0   0.0   0.0  46900
47  64.3  63.5  62.4  62.3  33.7   0.0   0.0   0.0   0.0  46900
48  76.2  76.6  78.3  77.2  39.1   0.0   0.0   0.0   0.0  46910
49  83.4  84.2  85.9  84.7  43.0   0.0   0.0   0.0   0.0  46910
50  68.8  68.8  70.1  68.8  34.7   0.0   0.0   0.0   0.0  46910

# DataFrame Indexing

In [4]:
iphone_df = pd.read_csv('./Downloads/iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [5]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [6]:
iphone_df.loc['iPhone X', :]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [7]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [8]:
type(iphone_df.loc['iPhone X'])

pandas.core.series.Series

In [9]:
iphone_df.loc[:, '출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [11]:
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

# 여러 줄 indexing

In [13]:
iphone_df.loc[['iPhone 8', 'iPhone 7']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No

In [15]:
iphone_df[['출시일','Face ID', '메모리']]

                      출시일 Face ID  메모리
iPhone 7       2016-09-16      No  2GB
iPhone 7 Plus  2016-09-16      No  3GB
iPhone 8       2017-09-22      No  2GB
iPhone 8 Plus  2017-09-22      No  3GB
iPhone X       2017-11-03     Yes  3GB
iPhone XS      2018-09-21     Yes  4GB
iPhone XS Max  2018-09-21     Yes  4GB

## row slicing

In [16]:
iphone_df.loc['iPhone 8':'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

## columns slicing

In [18]:
iphone_df.loc[:, '메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

# DataFrame 조건으로 indexing

In [22]:
iphone_df.loc[[True,False,True,False,True,True,False]]

                  출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7   2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8   2017-09-22    4.7  2GB  iOS 11.0      No
iPhone X   2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes

In [26]:
iphone_df.loc[:, [True,False,True,False,True]]

                      출시일  메모리 Face ID
iPhone 7       2016-09-16  2GB      No
iPhone 7 Plus  2016-09-16  3GB      No
iPhone 8       2017-09-22  2GB      No
iPhone 8 Plus  2017-09-22  3GB      No
iPhone X       2017-11-03  3GB     Yes
iPhone XS      2018-09-21  4GB     Yes
iPhone XS Max  2018-09-21  4GB     Yes

In [28]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

위의 데이터는 pandas Series 인 일차원 데이터이다.

### Filtering

In [29]:
iphone_df.loc[iphone_df['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [30]:
iphone_df['Face ID'] == 'Yes'

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: Face ID, dtype: bool

In [31]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 두개 이상의 조건

### and 연산 조건

In [33]:
condition_and = (iphone_df['디스플레이'] > 5) & (iphone_df['Face ID'] == 'Yes')

In [34]:
iphone_df.loc[condition_and]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [35]:
iphone_df[condition]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

### or 연산 조건

In [36]:
condition_or = (iphone_df['디스플레이'] > 5) | (iphone_df['Face ID'] == 'Yes')

In [37]:
iphone_df.loc[condition_or]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

# DataFrame 위치로 인덱싱

좌표 같이 적용된다. row, columns

In [38]:
iphone_df.iloc[1, 3]

'iOS 10.0'

### 리스트, 리스트

In [39]:
iphone_df.iloc[[1,3], [2,4]]

               메모리 Face ID
iPhone 7 Plus  3GB      No
iPhone 8 Plus  3GB      No

### 슬라이싱을 할 때에는 [],[] 형태를 사용하지 않는다.

In [41]:
iphone_df.iloc[3:, 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0